language: none

runtime:
    nodePool: shippable_shared_aarch64
    # nodePool: shippable_shared_aarch32

{% block env -%}
env:
  global:
  - secure: bkTdATvev7sVFsP62xFV2ck215nXEtH7eWXdhzRRtbzeKquSkNhTGTCoa5FcLDvAVe36w+Sv59/3/oWNyMood8pIWjHLMC5CqqLdc4NRmyyaCKWys4CLhTTurIBPFSWUilxZW1KCKv/WHOe+zQDi2o9R9lf5/MizuwThHSQOIcqeTIn4wtPzbne5MeKSW+mRCsb+l4E/Q1oY2w/mTJ+izDWkxefstZ2t8RqOxH6H20wwNOOj/1WdeztdCOtCAl99r8Aj58odGyfUMAEyw89c5HglAEPurBQs21DZbHp10NmgSLyIbukplulRUm+cQ37loT/hFfTjPUCqLEC3lu6SPw==
  matrix:
    {%- for config, _ in configs %}
    - CONFIG={{ config }}
    {%- endfor %}
{% endblock %}

build:
  pre_ci_boot:
    image_name: archiconda/archiconda3
    image_tag: ubuntu1604_gcc7
    pull: True

  ci:
    # - export PATH=/root/archiconda3/bin:$PATH
    - source /root/archiconda3/bin/activate root
    - conda --version
    - conda config --show
    - conda update conda --yes
    - conda --version
    - conda update conda-build --yes
    - conda install anaconda-client --yes
    # For noarch packages
    - conda config --add channels conda-forge
    - conda build -m .ci_support/${CONFIG}.yaml .
    - export PACKAGE_NAME=`conda build -m .ci_support/${CONFIG}.yaml . --output`
    - if [[ "$BINSTAR_TOKEN" != "" ]]; then anaconda -t $BINSTAR_TOKEN upload $PACKAGE_NAME ; else echo "BINSTAR_TOKEN not found, package is not being uploaded" ; fi

# disable email notification
# of CI job result
integrations:
  notifications:
    - integrationName: email
      type: email
      on_success: never
      on_failure: never
      on_cancel: never
      on_pull_request: never
