language: none

runtime:
    nodePool: shippable_shared_aarch64
    # nodePool: shippable_shared_aarch32

{% block env -%}
env:
  global:
  # Archiconda account
  - secure: bkTdATvev7sVFsP62xFV2ck215nXEtH7eWXdhzRRtbzeKquSkNhTGTCoa5FcLDvAVe36w+Sv59/3/oWNyMood8pIWjHLMC5CqqLdc4NRmyyaCKWys4CLhTTurIBPFSWUilxZW1KCKv/WHOe+zQDi2o9R9lf5/MizuwThHSQOIcqeTIn4wtPzbne5MeKSW+mRCsb+l4E/Q1oY2w/mTJ+izDWkxefstZ2t8RqOxH6H20wwNOOj/1WdeztdCOtCAl99r8Aj58odGyfUMAEyw89c5HglAEPurBQs21DZbHp10NmgSLyIbukplulRUm+cQ37loT/hFfTjPUCqLEC3lu6SPw==
  # hmaarrfk's account
  #- secure: QtD5PjVUiKUE2sWfizcoTUdaGWgmY8gZnarWImh2wq+1gSmibYr43Cx0aqSLz03bQiHDjH/H3Hts45cVjY7CFD3fzaIiO8AFwfOHablqIU7O9QmKxLnF1/rIdc4A+gAdUmkdVq/pTs56xhfKXnSVnhI+uCHgTKGGxVTHURJroX+HZWGv1Qu2qoPNkUqmJcj405XJUOjS3PbzWHh+5vSK+u50LspjytrU22rbyeS+Wwa4KazCiZm9eOvqcqAyYF9NZUXV/6jxxqWQQhU54jyOmjIB2mmTu1TPSrAKHsEGyHc07OFqkdm68W9vvf73chXYVNXMKlVxbd5D1585C10p2w==
  matrix:
    {%- for config, _ in configs %}
    - CONFIG={{ config }}
    {%- endfor %}
{% endblock %}

build:
  pre_ci_boot:
    image_name: arm64v8/ubuntu
    image_tag: 16.04
    pull: True

  ci:
    # Need to install bzip2 for conda
    - apt-get update
    - apt-get install -y bzip2
    - curl -L -O https://github.com/Archiconda/build-tools/releases/download/0.1.1/Archiconda3-0.1.1-Linux-aarch64.sh
    - bash Archiconda3-*.sh -b
    - source /root/archiconda3/bin/activate root
    - conda --version
    - conda update conda --yes
    - conda --version
    - conda install conda-build anaconda-client --yes
    - conda config --show
    # For noarch packages
    # But for now, they all crash
    # - conda config --add channels conda-forge
    - conda config --add channels archiarm
    - conda build -m .ci_support/${CONFIG}.yaml .
    - export PACKAGE_NAME=`conda build -m .ci_support/${CONFIG}.yaml . --output`
    - if [[ "$BINSTAR_TOKEN" != "" ]]; then anaconda -t $BINSTAR_TOKEN upload $PACKAGE_NAME ; else echo "BINSTAR_TOKEN not found, package is not being uploaded" ; fi

# disable email notification
# of CI job result
integrations:
  notifications:
    - integrationName: email
      type: email
      on_success: never
      on_failure: never
      on_cancel: never
      on_pull_request: never
